<app-user-header></app-user-header>
<!-- Earnings (Monthly) Card Example -->
<div class="row">
<div class="col-xl-3 col-md-6 mb-4" *ngFor="let item of suscripcionesUsuario">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <button type="button" class="btn-close" aria-label="Close" style="float: right;margin-top: 10%; margin-right: 10%;"(click)="borrar(item.id)"></button>
            <img [src]=item?.imagen style="float: right; margin-right: 10%;margin-top: 3%;">
            <div class="row no-gutters align-items-center">
                <div class="product-item" >
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><p style="font-size: medium;">{{item?.nombre}}</p>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><p style="font-size: small;">{{item?.categoria}}</p></div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><p style="font-size: small;">{{item?.precio}}€ al mes</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-grafico></app-grafico>

